@{
    ViewData["Title"] = "Atenção";
}

<div class="text-center">
    <p> Confirmação de presença realizada com sucesso!</p>
    <a class="btn btn-danger" role="button" asp-controller="Usuario" asp-action="Index">Voltar</a>
</div>